# App
NODE_ENV=development #development | production | staging
PORT=8080
TZ=UTC
GATEWAY_URL=http://localhost:${PORT}
SECRET_KEY_INTERNAL=S3Cret4

# URL Service
USER_SERVICE_URL=http://localhost:3001
ATTENDANCE_SERVICE_URL=http://localhost:3000
AUTH_SERVICE_URL=http://localhost:3002