# App
NODE_ENV=development #development | production | staging
APP_PORT=
SERVICE_PORT=
TZ=
JWT_SECRET=
JWT_SECRET_REFRESH=
JWT_EXPIRE=
JWT_REFRESH_EXPIRE=
APP_NAME=
APP_URL=

# Services
USER_SERVICE_APP_NAME=
USER_SERVICE_HOST=
USER_SERVICE_PORT=
USER_SERVICE_URL=${USER_SERVICE_HOST}:${USER_SERVICE_PORT}
AUTH_SERVICE_APP_NAME=
AUTH_SERVICE_HOST=
AUTH_SERVICE_PORT=
AUTH_SERVICE_URL=${AUTH_SERVICE_HOST}:${AUTH_SERVICE_PORT}
ATTENDANCE_SERVICE_APP_NAME=
ATTENDANCE_SERVICE_HOST=
ATTENDANCE_SERVICE_PORT=
ATTENDANCE_SERVICE_URL=${ATTENDANCE_SERVICE_HOST}:${ATTENDANCE_SERVICE_PORT}
# DB MYSQL
DATABASE_NAME=
DATABASE_PORT=
DATABASE_HOST=
DATABASE_USERNAME="avnadmin"
DATABASE_PASSWORD=
DATABASE_SCHEMA=
DATABASE_URL="mysql://avnadmin:AVNS_nXF2i1-Cw_jOR5pEogV@mysql-dexa-test-db-dexa-test-absensi.g.aivencloud.com:21050/defaultdb?ssl-mode=REQUIRED" #leave it here
